@import url('https://fonts.googleapis.com/css2?family=Kavoon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Kavoon&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #FFF8F0;
}
#container {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-left: 30px;
    margin-right:auto;
}
.header > h2 {
    padding-bottom: 5px;
    font-family: "Berkshire Swash", 'Times New Roman', Times, serif;
    color: #402626;
}
#box {
    display:flex;
    align-items: center;
    background-color: #F3E0C8;
    width: 100%;
    height:70px;
    position: fixed;
}
#input1 {
    border-radius: 10px;
    width: 150px;
}
.nav {
    gap: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav > a {
    color: #402626;
    text-decoration: none;
}
.search {
    margin-left: auto;
    margin-right: 30px;
    display: flex;
    gap: 20px;
}
.search > input {
    border: none;
}
#contact {
    width: 90%;
    max-width: 1100px;
    margin: 80px auto;
    margin-top: 150px;
    height: 650px;
    display: flex;
    background-color: white;
    gap: 50px;
}
.contact-image {
    width: 50%;
}
.contact-image > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.contact-form {
    margin-top: 70px;
}
.name-phone {
    display: flex;
    gap: 20px;
    height: 30px;
    margin-bottom: 5px;
}
form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
#em {
    height: 30px;
    border-radius: 20px;
    border: 1px solid #d8b9a5;
    background-color: #FFF8F0;
    margin-bottom: 5px;
}
textarea:hover {
    border-color: #B88A72;
}
textarea:focus {
    border-color: #6B4A3A;
    background-color: #d8b9a5;
}
textarea {
    height: 100px;
    border-radius: 20px;
    border: 1px solid #d8b9a5;
    resize: none;
    padding-top: 10px;
    background-color: #FFF8F0;
}
#text {
    width: 60%;
    border-radius: 20px;
    border: 1px solid #d8b9a5;
    background-color: #FFF8F0;
}
#tel {
    width: 40%;
    border-radius: 20px;
    border: 1px solid #d8b9a5;
    background-color: #FFF8F0;
}
#button {
    height: 30px;
    border-radius: 20px;
    border: 1px solid #d8b9a5;
    margin-top: 15px;
    cursor: pointer;
    background-color: #d8b9a5;
}
#div1 {
    display: flex;
    gap: 45px;
}
#div2 {
    display: flex;
    gap: 40px;
}
#love {
    margin-bottom: 10px;
}
#te {
    width: 30px;
    height: 30px;
}
#telegram {
    width: 30px;
    height: 30px;
}
#instagram {
    width: 35px;
    height: 35px;
}
#contact-us > div > h1{
    margin-bottom: 50px;
    text-align: center;
}
#contact-us {
    margin-top: 100px;
}
#us {
    display: flex;
    justify-content: space-around;
}
.info {
    display: flex;
    gap: 10px;
    border: 1px solid #4A3636;
    padding: 20px;
    border-radius: 20px;
    background-color: #F3E0C8;
}
.info:hover {
    transform: scale(1.19);
    transition: transform 0.3s ease;
}
.info > div > p > a {
    color: brown;
    text-decoration: none;
} 
.info > div > p > a:visited {
    color: red;
}
.info > div > p > a:hover {
    color: blue;
} 
.info > div > p > a:active {
    color: purple;
} 
.footer-link {
    display:flex;
    gap: 20px;
}
.footer-link > a {
    color: #4A3636;
    text-decoration: none;
    position: relative;
    font-family: "Kavoon", 'Courier New', Courier, monospace;
}
.footer-link > a:not(:last-child)::after{
    content: "|";
    position: absolute;
    right: -10px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    background-color: #E8D5C4;
    margin-top: 200px;
    padding: 70px 20px 50px;
    position: relative;
}
footer > div > p {
    text-align: center;
    color: #4A3636;
}
.footer-im {
    width: 25px;
    height: 25px;
}
#footer-img {
    display: flex;
    gap: 10px;
}
#footer-head > img {
    width: 50px;
    height: 50px;
}
footer > div > h1 {
    text-align: center;
    color: #402626;
}
#last {
    color: #4A3636;
}
#footer-head {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer::before {
    position: absolute;
    content: "";
    top: -25px;
    left: 0;
    width: 100%;
    height: 30px;
    background-color: #E8D5C4;
    clip-path: polygon(
        0 40%,
        10% 20%,
        20% 40%,
        30% 20%,
        40% 40%,
        50% 20%,
        60% 40%,
        70% 20%,
        80% 40%,
        90% 20%,
        100% 40%,
        100% 100%,
        0 100%
    );
}